In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
data = pd.read_csv("data.csv", encoding="ISO-8859-1", dtype={'CustomerID': str})

In [21]:
data.shape

(541909, 8)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [29]:
data[data.isna()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
541904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data = data.dropna(axis=1,how='all')

In [27]:
data.shape

(541909, 8)

In [15]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [17]:
data['CustomerID'] = pd.to_numeric(data['CustomerID'])

# data['InvoiceNo'] = pd.to_numeric(data['InvoiceNo'])

# data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  int64
 7   Country      406829 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 27.9+ MB